<% if @room.images.attached? %>
  <br/><br/>
  <div class="row">
    <% @room.images.each do |image| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading preview">
            <%= link_to image_tag image %>
          </div>
          <span class="pull-right">
            <%= link_to delete_image_attachment_room_path(image), :method => :get,  data: {confirm: "Are you sure?"} do %>
              <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
